@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Work+Sans:wght@800&display=swap');

.homePage{
    width: 100vw;
    min-height: 100vh;
    background-color: #FFFFF0;
    vertical-align: middle;
    display:flex;
  }
  .homeName{
    width: 30%;
    height: 100%;
    vertical-align: bottom;
    margin-bottom: 0px;
    font-size: 256px;
    font-family: 'Work Sans', sans-serif;
    color:#7851a9;
    margin-top: 55vh;
    animation-name: rightFadeInOut;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .homeDesc{
    width:60%;
    font-size: 36px;
    font-family: "Work Sans", cursive;
    color: #7851a9;
    display: flex;
    flex-direction: column;
    margin-top:35vh;
    text-align:left;
    margin-left: 5vw;
    animation-name: leftFadeInOut;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  .homeDesc2{
    display:flex; 
    font-size: 24px;
    font-family: "Work Sans", cursive;
    color: #7851a9;
    animation-name: leftFadeInOut;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-top: 64vh;
    margin-left: 5vw;
    width:60%;    
  }
  .paddingLeftRight{
    margin-left:5%;
    padding-right:5%;
    position:relative;
  }
  .links{
    text-decoration: none;
    color: #7851a9;
  }
  .links2{
    color: #7851a9;
    text-decoration: none;
  }
  .paddingLeftRight:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #7851a9;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .paddingLeftRight:hover:after { 
    width: 115px; 
    left: 0; 
  }
  .links2:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0px;
    position: absolute;
    background: #7851a9;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .links2:hover:after { 
    width: 100px; 
    left: 0px; 
  }
  
  .socials{
    margin: 2vh 2vw;
    padding: 0;
    height: 7vh;
  }

.rotatingWords{
  margin-top:70vh;
  font-size: 14px;
  margin-left:5vw; 
  font-family: "Noto Sans", serif;
  color: #7851a9;
  animation-name: leftFadeInOut;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
   opacity:0;  /* make things invisible upon start */
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:1.4s;
  }

  @keyframes rightFadeInOut {
    0% {
      position: absolute;
      right: -5vw;
      opacity: 0;
    }
  
    100% {
      position: absolute;
      right: 0vw;
      opacity: 1;
    }
  }



  @keyframes leftFadeInOut {
    0% {
      position: absolute;
      left: -5vw;
      opacity: 0;
    }
  
    100% {
      position: absolute;
      left: 2vw;
      opacity: 1;
    }
  }

  .rw-words{
    display: inline;
    text-indent: 10px;
  }
  
  .rw-words span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 600%;
    text-align: left;
    color: #7851a9;
  }
  
  .rw-words-1 span{
    animation: rotateWordsFirst 12s linear infinite 0s;
  }
  
  .rw-words span:nth-child(2) { 
    animation-delay: 3s; 
    color: #7851a9;
  }
  .rw-words span:nth-child(3) { 
    animation-delay: 6s; 
    color: #7851a9;	
  }
  .rw-words span:nth-child(4) { 
    animation-delay: 9s; 
    color: #7851a9;
  }
  /* .rw-words span:nth-child(5) { 
    animation-delay: 12s; 
    color: #7851a9;
  }
  .rw-words span:nth-child(6) {  
    animation-delay: 15s; 
    color: #7851a9;
  } */
  
  @keyframes rotateWordsFirst {
      0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
      8% { opacity: 1; height: 60px; }
      19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
      100% { opacity: 0; }
  }
  
  @keyframes rotateWordsSecond {
      0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
      10% { opacity: 0.3; width: 0px; }
    20% { opacity: 1; width: 100%; }
      27% { opacity: 0; width: 100%; }
      100% { opacity: 0; }
  }