@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Work+Sans:wght@800&display=swap');

.TestPage{
    height:100vh;
    width:100%;
}

.margin-right{
    margin-right:1vw;
}

.homeDescNew{
    position:relative;
    float:left;
    text-align:left;
    margin-top:30vh;
    font-family: "Work Sans", cursive;
    font-size: 2vw;
    color: #7851a9;
    font-size:28px;
}

.homeDesc2New{
    position:relative;
    float:left;
    text-align:left;
    font-family: "Noto Sans", serif;
    font-size: 1.5vw;
}

.homeNameNew{
    position:relative;
    margin-top:45vh;
    text-align:right;
    font-size:256px;
    font-family: 'Work Sans', sans-serif;
    color:#7851a9;
    animation-name: bounce;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

.homeNameNew2{
    font-size:0px;
}

.rotatingWordsNew{
    font-size: 18px;
    font-family: "Noto Sans", serif;
    color: #7851a9;
}

.rw-words span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    text-align: left;
}

.links{
    font-size: 24px;
}
.links2{
    font-size: 24px;
}
.links2:hover{
    color: #7851a9;
}
.links2:after{
    height: 0.25vw;
    background-color: #7851a9;
    position: relative;
    left: calc(var(--bs-gutter-x) - 20vw);
    bottom: 0;
    width: 90px;
    border-radius: 5px;
    content:"";
    display:block;
    transition: left 0.3s ease 0s, left 0.3s ease 0s;
}
.links2:hover:after { 
    left: 0px;  
  }

.links:hover{
    color: #7851a9;
}
.links:after{
    height: 0.25vw;
    background-color: #7851a9;
    position: relative;
    left: calc(var(--bs-gutter-x) - 20vw);
    bottom: 0;
    width: 110px;
    border-radius: 5px;
    content:"";
    display:block;
    transition: left 0.3s ease 0s, left 0.3s ease 0s;
}
.links:hover:after { 
    left: 0px;  
}

.overflowHid{
    overflow:hidden;
}

.bar span:hover:after{
    left: 0px;
}
/* 
@keyFrames leftFade{
    0% {
        left: -2vw;
    }

    100%{
        left:0vw;
    }
} */

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{transform:translateY(0);}
    40% {transform:translateY(-0.5vh);}
    60%{transform:translateY(-0.25vh);}
}

@media (max-width: 1600px){
    .homeNameNew{
        font-size: 256px;
    }
    .links{
        font-size: 20px;
    }
    .links:after{
        width:95px;
    }
    .links2{
        font-size:20px;
    }
    .links2:after{
        width:75px;
    }
    .rotatingWordsNew{
        font-size: 16px;
    }
    .homeDescNew{
        font-size: 28px;
    }
}

@media(max-width:1100px){
    .homeNameNew{
        font-size:192px;
    }
    .links{
        font-size: 16px;
    }
    .links:after{
        width:75px;
    }
    .links2{
        font-size:16px;
    }
    .links2:after{
        width:60px;
    }
    .rotatingWordsNew{
        font-size: 14px;
    }
    .homeDescNew{
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .homeDescNew{
        font-size:32px;
        margin-top: 5vh;
    }
    .links{
        font-size: 18px;
    }
    .links:after{
        width:83px;
        height:2px;
    }
    .links2{
        font-size:18px;
        
    }
    .links2:after{
        width:105px;
        height:2px;
        left: -200px;
    }
    .links2:hover:after { 
        left: 0px;  
        width:105px;
      }
    .rotatingWordsNew{
        font-size: 12px;
    }
    .homeNameNew{
        font-size:0px;
    }

    .homeNameNew2{
        position:relative;
        padding-top:5vh;
        text-align:right;
        font-size:30vw;
        font-family: 'Work Sans', sans-serif;
        color:#7851a9;
        animation-name: bounce;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count:infinite;
    }
}

@media (max-width:576px){
    .homeDescNew{
        margin-top:15vh;
        font-size: 28px;
    }
    .links{
        font-size: 28px;
    }
    .links2{
        font-size:28px;
    }
    .links:after{
        left:-200px;
        width:128px;
    }
    .links2:after{
        width:105px;
    }
    .rotatingWordsNew{
        font-size: 16px;
    }

    .homeNameNew{
        font-size: 0px;
    }
    .homeNameNew2{
        position:relative;
        margin-top:45vh;
        text-align:right;
        font-size:212px;
        font-family: 'Work Sans', sans-serif;
        color:#7851a9;
        animation-name: bounce;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count:infinite;
    }
}