@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.aboutPage{
    width:100%;
    min-height:100vh;
    background-color: ivory; 
    vertical-align: middle;
    padding-top:100px;
  }
  .signBox{
    width:100%;
  }
  .signPic{
    width:50%;
    height:auto;
  }
  .titleText{
    padding-top: 10vh;
    padding-bottom:5vh;
    margin:0;
    font-size: 48px;
    font-family: "PT Sans", sans-serif;
    color: #7851a9;
  }
  .aboutDescription{
    width: 100%;
    display:flex;
    height:100%;
  }
  
  .aboutPicBox{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .aboutPhoto{
    margin-left: 20vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .aboutText{
    width: 100%;
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 0;
    margin-top:0;
    color: #7851a9;
    text-align:left;
    padding: 1%;
  }
  .aboutText2{
    width: 30%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    justify-content: center;
    margin-left: 5vw;
  }
  .socials{
    margin: 2vh 0.5vw;
    padding: 0;
    height: 7vh;
  }

  /* .titleText a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #db4b38;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    cursor: pointer;
} */
@media (max-width:1100px){
  .signPic{
    width:90%;
  }
  .aboutDescription{
    flex-direction:column;
  }
  .aboutPicBox{
    flex-direction: row;
    width:100%;
  }
  .aboutPhoto{
    width:40%;
    margin-top:5vh;
    margin-bottom:5vh;
    margin-left:0;
    margin-right:0;
  }
  .aboutText2{
    width:80%;
    margin-left: 10vw;
  }
  .aboutText{
    text-align: center;
    font-size: 20px;
  }
}

@media (max-width:690px){
  .signPic{
    width:90%;
  }
  .aboutDescription{
    flex-direction:column;
  }
  .aboutPicBox{
    flex-direction: row;
    width:100%;
  }
  .aboutPhoto{
    width:80%;
    margin-top:5vh;
    margin-bottom:5vh;
    margin-left:0;
    margin-right:0;
  }
  .aboutText2{
    width:80%;
  }
  .aboutText{
    text-align: center;
    font-size: 20px;
  }
    


}
