@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.expPage{
    width:100%;
    min-height:11vh;
    background-color:ivory;
    vertical-align:middle;
  }
.expTitle{
    color: #7851a9;
    font-size: 3vw;
  }
  .expBlock{
    text-align: left;
    padding-left: 15%;
    padding-right:15%;
    word-wrap: break-word;
    font-family: "PT Sans", serif;
  }
  .expTitle2{
    font-size:32px;
    color:#7851a9;
    margin-top:1%;
    margin-bottom:0%;
  }
  .expDesc{
    font-size: 18px;
    color:#7851a9;
    margin-bottom:2%;
  }
  .expTime{
    font-size:14px;
    color:#7851a9;
    margin:0;
    font-family: "PT Sans", serif;
  }
  
  .timeline{
    position:relative
  }
  .timeline:before {
    position: absolute;
    height:100%;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #7851a9;
}

.thumbnail2{
  width:100%;
  border-radius:100px;
  background: white;
}

.vertical-timeline-element-date{
  text-align:center !important;
}

.smallMargin{
  padding-bottom:5vh;
}